.main-layout {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "aside board"
        "aside board";
}

@media (max-width:650px) {
    
    .main-layout {
        grid-template-columns: 1fr;
        grid-template-areas:
            "board";
    }
}